@charset "UTF-8";

#wrapper-div{
	width: 1200px;
	height: 800px;
	margin: auto;
}	
#form-area {
	width: 70%;
	height: auto;
	margin: auto;
	margin-top: 82px;
}

.titles {
	width:50%;
}
.selects {
	width: 20%;
}