<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.goty.customerService.model.repository.AdminRepository">														
	<resultMap id="memberResultSet" type="member">
		<result column="MEMBER_No" property="memberNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="ENROLLDATE" property="enrollDate"/>
		<result column="MEM_LEVEL" property="memLevel"/>
		<result column="TOTAL_PRICE" property="totalPrice"/>
		<result column="MEMBER_POINT" property="memberPoint"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="MEMBER_NAME" property="memberName"/>
	</resultMap>

	<select id="selectMember" resultMap="memberResultSet">
		SELECT
		       MEMBER_NO,
		       MEMBER_ID,
		       NICKNAME,
		       MEMBER_NAME,
		       ENROLLDATE,
		       MEM_LEVEL,
		       TOTAL_PRICE,
		       MEMBER_POINT
		  FROM
		       MEMBER
		 WHERE
		       DELETE_YN = 'N'
		 ORDER
		    BY
		       TOTAL_PRICE DESC
	</select>
	
	<select id="selectMemberList" resultType="int">
		SELECT
			   COUNT(MEMBER_NO)
	      FROM
	           MEMBER
	     WHERE
	           DELETE_YN = 'N'  
	</select>
	
	<insert id="insertAnswer" parameterType="answer">
		INSERT
		  INTO
		       ANSWER
		       (
		       QUESTION_NO,
		       MEMBER_NO,
		       ANSWER_COMMENT
		       )
		VALUES
		       (
		       #{questionNo},
		       #{memberNo},
		       #{answerComment}
		       )
	</insert>
	
	<update id="updateBoard" parameterType="_int">
		UPDATE
		       QUESTION
		   SET
		       ANSWER_YN = 'O' 
         WHERE
               QUESTION_NO = #{questionNo}	
	</update>
	
	<select id="SearchMemberListCount" parameterType="hashmap" resultType="_int">
		SELECT
		       COUNT(MEMBER_NO)
		  FROM
		       MEMBER
		 WHERE
	     <if test="condition == 'name'">
	           MEMBER_NAME LIKE '%' || #{keyword} || '%'	
         </if> 
		 <if test="condition == 'id'">
		       MEMBER_ID = #{keyword}
		 </if>      
	     <if test="condition == 'nickname'">
	           NICKNAME = #{keyword}
	     </if>	       
		 ORDER
		    BY
		       TOTAL_PRICE DESC		  
	
	</select>
	
	<select id="findMember" parameterType="hashmap" resultMap="memberResultSet">
		SELECT
		       MEMBER_NO,
		       MEMBER_ID,
		       NICKNAME,
		       MEMBER_NAME,
		       ENROLLDATE,
		       MEM_LEVEL,
		       TOTAL_PRICE,
		       MEMBER_POINT
		  FROM
		       MEMBER
		 WHERE
		       DELETE_YN = 'N'    
         <if test="condition == 'name'">
	       AND MEMBER_NAME LIKE '%' || #{keyword} || '%'	
         </if> 
		 <if test="condition == 'id'">
		   AND MEMBER_ID = #{keyword}
		 </if>      
	     <if test="condition == 'nickname'">
	       AND NICKNAME = #{keyword}
	     </if>	       
		 ORDER
		    BY
		       TOTAL_PRICE DESC		
	</select>
	<update id="chekedMemberDelete" parameterType="list">
			UPDATE
			       MEMBER
		       SET
		       	   DELETE_YN = 'Y'
		    WHERE
		         MEMBER_NO IN(
		<foreach collection="list" item="item" separator=", ">
		          #{item}
		</foreach>
		)
	</update>
</mapper>