<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.goty.board.model.dao.BoardMapper">
	
	<resultMap id="boardResultSet" type="board">
		<result column="FREE_BOARD_NO" property="freeBoardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="NICKNAME" property="nickname" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="COUNT" property="count" />
		<result column="PLATFORM_NAME" property="platformName" />
		<result column="PLATFORM_NO" property="platformNo" />
		<result column="REVIEW_COUNT" property="reviewCount" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="IMAGE_PATH" property="imagePath" />
		
		<collection property="replies" ofType="Reply">
			<result column="REVIEW_NO" property="reviewNo" />
			<result column="REVIEW_CONTENT" property="reviewContent" />
			<result column="REVIEWCREATEDATE" property="createDate" />
			<result column="REVIEWWRITER" property="reviewWriter" />
		</collection>
	</resultMap>
	
	<resultMap type="reply" id="replyResultSet">
		<result column="REVIEW_NO" property="reviewNo" />
	 	<result column="MEMBER_NO" property="memberNo" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="CREATE_DATE" property="createDate" />   
		<result column="DELETE_YN" property="deleteYn" />
		<result column="REVIEWWRITER" property="reviewWriter" />
        <result column="NICKNAME" property="nickname" /> 
        <result column="STATUS" property="status" />
        <result column="REPORTCOUNT" property="reportCount" />
        
       <collection property="reportUsers" ofType="_int">
       	<result column="REPORTUSERS" property="reportUsers" />
       </collection>   
           
	</resultMap>
	
	<sql id="board">
	 SELECT
	       FREE_BOARD.FREE_BOARD_NO,
	       BOARD_TITLE,
	       BOARD_CONTENT,
	       FREE_BOARD.CREATE_DATE,
	       ORIGIN_NAME,
	       CHANGE_NAME,
	       IMAGE_PATH,
	</sql>
	
	<select id="selectListCount"
		parameterType="HashMap"
		resultType="_int"
	>
	SELECT
	      COUNT(*)
	  FROM
	      FREE_BOARD
	 JOIN MEMBER
       ON MEMBER.MEMBER_NO = FREE_BOARD.MEMBER_NO
	WHERE
	      MEMBER.DELETE_YN = 'N'   
	 <if test="categoryNo != null and categoryNo > 0">
	 	AND PLATFORM_NO = #{categoryNo}
	 </if>
	 <if test="condition == 'nickname'">
	 	AND NICKNAME LIKE '%' || #{keyword} || '%'
	 </if>
	 <if test="condition == 'boardTitle'">
	 	AND BOARD_TITLE LIKE '%' || #{keyword} || '%'
	 </if>  
	</select>
	
	
	<select id="selectListAll"
		parameterType="hashMap"
		resultMap="boardResultSet">
	
	<include refid="board" />
	       MEMBER.NICKNAME AS "NICKNAME",
           COUNT,
	       PLATFORM_NAME,
           NVL(RCOUNT, 0) AS "REVIEW_COUNT"
	  FROM
	       FREE_BOARD
	  JOIN MEMBER
	    ON MEMBER.MEMBER_NO = FREE_BOARD.MEMBER_NO
      JOIN PLATFORM_CATEGORY
        ON PLATFORM_CATEGORY.PLATFORM_NO = FREE_BOARD.PLATFORM_NO
      LEFT  
      JOIN (SELECT
                 FREE_BOARD_NO,   
                 COUNT(FREE_BOARD_NO) AS "RCOUNT"
                 FROM    
                     FREE_BOARD_REVIEW         
                GROUP     
                   BY FREE_BOARD_NO) R
        ON FREE_BOARD.FREE_BOARD_NO = R.FREE_BOARD_NO          
	 WHERE
	      FREE_BOARD.DELETE_YN = 'N'
	   AND
	      MEMBER.DELETE_YN = 'N'         
	 <if test="categoryNo != 0">
	 	AND FREE_BOARD.PLATFORM_NO = #{categoryNo}
	 </if>
	 <if test="condition == 'nickname'">
	 	AND NICKNAME LIKE '%' || #{keyword} || '%'
	 </if>
	 <if test="condition == 'boardTitle'">
	 	AND BOARD_TITLE LIKE '%' || #{keyword} || '%'
	 </if>
	 ORDER
	    BY
	      FREE_BOARD_NO DESC   
	</select>
	
	
	<insert id="insert"
		parameterType="board"
	>
	INSERT
	  INTO
	      FREE_BOARD
	      (
	       FREE_BOARD_NO,
	       BOARD_TITLE,
	       BOARD_CONTENT,
	       MEMBER_NO,
	       PLATFORM_NO,
	       ORIGIN_NAME,
	       CHANGE_NAME,
	       IMAGE_PATH
	      )
	VALUES
	      (
	       SEQ_FREE_BOARD.nextval,
	       #{boardTitle},
	       #{boardContent},
	       #{memberNo},
	       #{platformNo},
	       #{originName},
	       #{changeName},
	       #{imagePath}  
	      )        
	</insert>
	
	
	<update id="increaseCount"
		parameterType="_int"
	>
	UPDATE
	      FREE_BOARD
	   SET
	      COUNT = COUNT + 1
	 WHERE
	      FREE_BOARD_NO = #{boardNo}
	</update>
	
	
	<select id="selectBoard"
		parameterType="_int"
		resultMap="boardResultSet"
	>
	<include refid="board" />
	       MEMBER.MEMBER_NO AS "MEMBER_NO",
	       MEMBER.MEMBER_NAME AS "MEMBER_NAME",
	       MEMBER.NICKNAME AS "NICKNAME",
           COUNT,
           PLATFORM_CATEGORY.PLATFORM_NO,
	       PLATFORM_NAME,
           REVIEW_CONTENT,
           REVIEWCREATEDATE,
           REVIEWWRITER,
           REVIEW_NO
	  FROM
	       FREE_BOARD
	  JOIN MEMBER
	    ON MEMBER.MEMBER_NO = FREE_BOARD.MEMBER_NO
      JOIN PLATFORM_CATEGORY
        ON PLATFORM_CATEGORY.PLATFORM_NO = FREE_BOARD.PLATFORM_NO
      LEFT  
      JOIN (SELECT
                 REVIEW_NO,
                 FREE_BOARD_NO,
                 REVIEW_CONTENT,
                 CREATE_DATE AS "REVIEWCREATEDATE",
                 MEMBER.MEMBER_NAME AS "REVIEWWRITER"
                 FROM    
                     FREE_BOARD_REVIEW
                 JOIN MEMBER
                   ON MEMBER.MEMBER_NO = FREE_BOARD_REVIEW.MEMBER_NO
                WHERE
                     FREE_BOARD_REVIEW.DELETE_YN = 'N'
                ORDER
                   BY REVIEW_NO DESC) R
        ON FREE_BOARD.FREE_BOARD_NO = R.FREE_BOARD_NO
	 WHERE
          MEMBER.DELETE_YN = 'N'
	   AND
	      FREE_BOARD.FREE_BOARD_NO  = #{boardNo}            
	</select>
	
	<select id="updateBoardForm"
		parameterType="_int"
		resultMap="boardResultSet"
	>
	<include refid="board" />
	       MEMBER.MEMBER_NO AS "MEMBER_NO",
	       MEMBER.MEMBER_NAME AS "MEMBER_NAME",
	       MEMBER.NICKNAME AS "NICKNAME",
           COUNT,
           PLATFORM_CATEGORY.PLATFORM_NO AS "PLATFORM_NO",
	       PLATFORM_NAME
	  FROM
	       FREE_BOARD
	  JOIN MEMBER
	    ON MEMBER.MEMBER_NO = FREE_BOARD.MEMBER_NO
      JOIN PLATFORM_CATEGORY
        ON PLATFORM_CATEGORY.PLATFORM_NO = FREE_BOARD.PLATFORM_NO
     WHERE
           MEMBER.DELETE_YN = 'N'
	   AND
	       FREE_BOARD.FREE_BOARD_NO  = #{boardNo}
	</select>
	
	
	<update id="updateBoard"
		parameterType="board"
	>
	UPDATE
	      FREE_BOARD
	  <set>
	      BOARD_TITLE = #{boardTitle},
	      BOARD_CONTENT = #{boardContent},
	      PLATFORM_NO = #{platformNo},
      
      	<if test="originName != null">
	      ORIGIN_NAME = #{originName},
	      CHANGE_NAME = #{changeName},
	      IMAGE_PATH = #{imagePath}
      	</if>
      
      </set>
	 WHERE
   	      FREE_BOARD_NO = #{freeBoardNo}
	</update>
	
	<insert id="save"
		parameterType="reply"
	>
	INSERT
	  INTO
	      FREE_BOARD_REVIEW
	 VALUES
	       (
	       SEQ_FREE_BOARD_REVIEW.nextval,
	       #{freeBoardNo},
	       #{memberNo},
	       #{reviewContent},
	       DEFAULT,
	       DEFAULT
	       )      
	</insert>
	
	<select id="findAllReply"
		parameterType="_int"
		resultMap="replyResultSet"
	>
	SELECT
		  REVIEW_NO,
		  FREE_BOARD_REVIEW.MEMBER_NO,
		  REVIEW_CONTENT ,
		  CREATE_DATE ,
		  FREE_BOARD_REVIEW.DELETE_YN ,
          MEMBER.MEMBER_NAME AS "REVIEWWRITER",
          MEMBER.NICKNAME nickname,
          MEMBER.STATUS status,
          REPLY_REPORT.REPORT_USER reportUsers,
          COUNT(REPORT_NO) AS "REPORTCOUNT"
	  FROM
	      FREE_BOARD_REVIEW
	  JOIN
	      MEMBER
	   ON FREE_BOARD_REVIEW.MEMBER_NO = MEMBER.MEMBER_NO
	  LEFT
      JOIN REPLY_REPORT
        ON REPLY_REPORT.REPORT_NO = FREE_BOARD_REVIEW.REVIEW_NO       
	 WHERE      		  
	       MEMBER.DELETE_YN = 'N'   	  
	   AND
	       FREE_BOARD_NO = #{freeBoardNo}
	  GROUP
         BY 
           REVIEW_NO ,
		   FREE_BOARD_REVIEW.MEMBER_NO ,
		   REVIEW_CONTENT ,
		   CREATE_DATE ,
		   FREE_BOARD_REVIEW.DELETE_YN,
           MEMBER.MEMBER_NAME,
           MEMBER.STATUS,
           REPLY_REPORT.REPORT_USER,
           NICKNAME     
	 ORDER
	    BY REVIEW_NO DESC
	</select>
	
	<select id="replyCount"
		parameterType="_int"
		resultType="_int"
	>
	SELECT
	      COUNT(*)
	  FROM
	      FREE_BOARD_REVIEW
	 WHERE
	      FREE_BOARD_NO = #{boardNo}     
	</select>
	
	<insert id="insertReport"
		    parameterType="report">
	INSERT
	  INTO
	      REPLY_REPORT
	   VALUES
	         (
	          #{reviewNo},
	          #{reportUser},
	          #{reportReason},
	          #{etc},
	          DEFAULT
	         )    	    
	
	</insert>
	
	<update id="deleteBoard"
		    parameterType="_int"
	>
	UPDATE
	      FREE_BOARD
	   SET
	      DELETE_YN = 'Y'
	 WHERE
	      FREE_BOARD_NO = #{boardNo}     
	</update>
	
	<update id="deleteReply"
		    parameterType="_int"
	>
	UPDATE
	      FREE_BOARD_REVIEW
	   SET
	      DELETE_YN = 'Y'
	 WHERE
	      REVIEW_NO = #{replyNo}     
	</update>
	
	
	
























</mapper>