<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="boardMapper">
	
	<resultMap id="boardResultSet" type="board">
		<result column="FREE_BOARD_NO" property="freeBoardNo" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="NICKNAME" property="nickname" />
		<result column="COUNT" property="count" />
		<result column="PLATFORM_NAME" property="platformName" />
		<result column="REVIEW_COUNT" property="reviewCount" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="IMAGE_PATH" property="imagePath" />
	</resultMap>


	<select id="selectListCount"
	resultType="_int"
	>
	SELECT
	      COUNT(*)
	  FROM
	      FREE_BOARD
	 WHERE
	      status = 'Y'     
	</select>
	
	
	<select id="seleltListAll"
	resultMap="boardResultSet">
	SELECT
	       FREE_BOARD.FREE_BOARD_NO,
	       BOARD_TITLE,
	       BOARD_CONTENT,
	       CREATE_DATE,
	       ORIGIN_NAME,
	       CHANGE_NAME,
	       IMAGE_PATH,
	       MEMBER.NICKNAME AS "NICKNAME",
           COUNT,
	       PLATFORM_NAME,
           NVL(RCOUNT, 0) AS "REVIEW_COUNT"
	  FROM
	       FREE_BOARD
	  JOIN MEMBER
	    ON MEMBER.MEMBER_NO = FREE_BOARD.MEMBER_NO
      JOIN PLATFORM_CATEGORY
        ON PLATFORM_CATEGORY.PLATFORM_NO = FREE_BOARD.PLATFORM_NO
      LEFT  
      JOIN (SELECT
                 FREE_BOARD_NO,   
                 COUNT(FREE_BOARD_NO) AS "RCOUNT"
                 FROM    
                     FREE_BOARD_REVIEW         
                WHERE
                     STATUS = 'Y'
                GROUP     
                   BY FREE_BOARD_NO) R
        ON FREE_BOARD.FREE_BOARD_NO = R.FREE_BOARD_NO          
	 WHERE
	      FREE_BOARD.STATUS = 'Y'
	 ORDER
	    BY
	      FREE_BOARD_NO DESC   
	</select>
	
	
	<insert id="insertBoard"
		parameterType="board"
	>
	INSERT
	  INTO
	      FREE_BOARD
	      (
	       FREE_BOARD_NO,
	       BOARD_TITLE,
	       BOARD_CONTENT,
	       MEMBER_NO,
	       PLATFORM_NO,
	       ORIGIN_NAME,
	       CHANGE_NAME,
	       IMAGE_PATH
	      )
	VALUES
	      (
	       SEQ_FREE_BOARD.nextval,
	       #{boardTitle},
	       #{boardContent},
	       #{memberNo},
	       #{platformNo},
	       #{originName},
	       #{changeName},
	       #{imagePath}  
	      )        
	</insert>
	
	
	<update id="increaseCount"
		parameterType="_int"
	>
	UPDATE
	      FREE_BOARD
	   SET
	      COUNT = COUNT + 1
	 WHERE
	      FREE_BOARD_NO = #{boardNo}
	</update>
	
	
	<select id="selectBoard"
		parameterType="_int"
		resultType="board"
	>
	SELECT
	       FREE_BOARD.FREE_BOARD_NO freeBoardNo,
	       BOARD_TITLE boardTitle,
	       BOARD_CONTENT boardContent,
	       CREATE_DATE createDate,
	       ORIGIN_NAME originName,
	       CHANGE_NAME changeName,
	       IMAGE_PATH imagePath,
	       MEMBER.MEMBER_NO memberNo,
	       MEMBER.MEMBER_NAME memberName,
	       MEMBER.NICKNAME AS "NICKNAME",
           COUNT count,
           PLATFORM_CATEGORY.PLATFORM_NO platformNo,
	       PLATFORM_NAME platformName
	  FROM
	       FREE_BOARD
	  JOIN MEMBER
	    ON MEMBER.MEMBER_NO = FREE_BOARD.MEMBER_NO
      JOIN PLATFORM_CATEGORY
        ON PLATFORM_CATEGORY.PLATFORM_NO = FREE_BOARD.PLATFORM_NO    
	 WHERE
	      FREE_BOARD.DELETE_YN = 'Y'
       AND
          MEMBER.DELETE_YN = 'N'
	   AND
	      FREE_BOARD_NO = #{boardNo}            
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	










</mapper>