<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="memberMapper">

<select id="login"
  		parameterType="member"
		resultType="member"
  	>
  		SELECT
  		      MEMBER_NO memberNo,
  		      MEMBER_ID memberId,
  		      MEMBER_PWD memberPwd,
  		      MEMBER_NAME memberName,
  		      NICKNAME nickname,
  		      BORNDATE bornDate,
  		      EMAIL email,
  		      PHONE phone,
  		      ADDRESS address,
  		      ADDR_DETAIL addrDetail,
  		      EMPTY_CODEYN emptyCodeYN,
  		      MEM_LEVEL memLevel,
  		      STATUS status
  		  FROM
  		      MEMBER       
  	     WHERE	      
  		      MEMBER_ID = #{memberId}
  		   AND
  		      DELETE_YN = 'N'       
  	</select>
  	
  	
  	<insert id="insertMember"
  		parameterType="member"
  	>
  	INSERT
  	  INTO
  	 MEMBER
  	       (
  	       	MEMBER_NO,
  	       	MEMBER_ID,
  	       	MEMBER_PWD,
  	       	MEMBER_NAME,
  	       	NICKNAME,
  	       	EMAIL,
  	       	BORNDATE,
  	       	PHONE,
  	       	ADDRESS,
  	       	ADDR_DETAIL
  	       )
  	 VALUES
  	  	   (
  	  	   SEQ_MEMBER.NEXTVAL,
  	  	   #{memberId},
  	  	   #{memberPwd},
  	  	   #{memberName},
  	  	   #{nickname},
  	  	   #{email},
  	  	   #{bornDate},
  	  	   #{phone},
  	  	   #{address},
  	  	   #{addrDetail}
  	  	   )    
  	</insert>
  
  
  	<select id="idCheck"
  		parameterType="string"
  		resultType="_int"
  	>

  	SELECT
  	      COUNT(*)
  	  FROM
  	      MEMBER
  	 WHERE
  	      MEMBER_ID = #{checkId}
  	   AND
  	      DELETE_YN = 'N'  
  	</select>
  
  	<select id="emailCheck"
  		parameterType="string"
  		resultType="_int"
  	>
  	SELECT
  	      COUNT(*)
  	  FROM
  	      MEMBER
  	 WHERE
  	      EMAIL = #{email}
  	   AND
  	      DELETE_YN = 'N'  
  	</select>
  
  
  	<select id="findId"
  		parameterType="member"
  		resultType="string"
  	>
  	SELECT
  		  MEMBER_ID
  	  FROM
  	      MEMBER
  	 WHERE
  	      MEMBER_NAME = #{memberName}
  	   AND
  	      PHONE = #{phone}
  	   AND
  	      DELETE_YN = 'N'               	  
  	</select>
  
  <select id="findPwd"
  	parameterType="member"
  	resultType="_int"
  >
  	SELECT
  	      COUNT(*)
	  FROM
	      MEMBER
	 WHERE
	      DELETE_YN = 'N'
	   AND
	      MEMBER_ID = #{memberId}
	   AND
	       MEMBER_NAME = #{memberName}
	   AND
	      EMAIL = #{email}       	  
  </select>
  
  <update id="updatePwd"
  parameterType="member">
  UPDATE
  		MEMBER
  	 SET	
        MEMBER_PWD = #{memberPwd},
       	EMPTY_CODEYN = 'Y'
   WHERE
	    MEMBER_NAME = #{memberName}
	 AND   
        MEMBER_ID = #{memberId}
     AND
        EMAIL = #{email}   
     AND
  	    DELETE_YN = 'N' 
  </update>
  
  <update id="changePwd"
  parameterType="member">
  UPDATE
  		MEMBER
  	 SET	
        MEMBER_PWD = #{memberPwd},
       	EMPTY_CODEYN = 'N',
       	MODIFYDATE = SYSDATE
   WHERE
        MEMBER_ID = #{memberId}
     AND
  	    DELETE_YN = 'N' 
  </update>
  
  <select id="phoneCheck"
  		parameterType="string"
  		resultType="_int"
  	>
  	SELECT
  	      COUNT(*)
  	  FROM
  	      MEMBER
  	 WHERE
  	      PHONE = #{phone}
  	   AND
  	      DELETE_YN = 'N'  
  	</select>
  
  
  	<select id="checkKakaoId"
  		parameterType="kakaoMember"
  		resultType="_int"
  	>
  	SELECT
  	      COUNT(*)
  	  FROM
  	      K_MEMBER
  	 WHERE
  	      MEMBER_ID = #{kakaoId}
  	</select>
  
  
  	<insert id="insertKakao"
  		parameterType="kakaoMember"
  	>
  	INSERT
  	  INTO
  	      k_MEMBER
  	      (
  	      MEMBER_NO,
  	      MEMBER_ID,
  	      NICKNAME,
  	      THUMBNAIL_IMAGE,
  	      ACCESS_TOKEN,
  	      STATUS,
  	      MEM_LEVEL
  	      )
  	VALUES
  		  (
  	 	  SEQ_KAKAOMEMBER.NEXTVAL,
  	 	  #{kakaoId},
  	 	  #{nickName},
  	 	  #{thumbnailImage},
  	 	  #{accessToken},
  	 	  DEFAULT,
  	 	  DEFAULT  	 		 
  	 	  )	
  	</insert>
  
  <select id="checkNaverId"
  		parameterType="naverMember"
  		resultType="_int"
  	>
  	SELECT
  	      COUNT(*)
  	  FROM
  	      N_MEMBER
  	 WHERE
  	      MEMBER_ID = #{naverId}
  	</select>
  
  <insert id="insertNaver"
  		parameterType="naverMember"
  	>
  	INSERT
  	  INTO
  	      N_MEMBER
  	      (
  	      MEMBER_NO,
  	      MEMBER_ID,
  	      MEMBER_NAME,
  	      NICKNAME,
  	      BIRTH_YEAR,
  	      PHONE,
  	      STATUS,
  	      MEM_LEVEL
  	      )
  	VALUES
  		  (
  	 	  SEQ_NAVERMEMBER.NEXTVAL,
  	 	  #{naverId},
  	 	  #{name},
  	 	  #{nickname},
  	 	  #{birthyear},
  	 	  #{mobile},
  	 	  DEFAULT,
  	 	  DEFAULT 	 		 
  	 	  )	
  	</insert>
  
  	<select id="findUpdateMember"
  	parameterType="_int"
  	resultType="member" >
  	SELECT
  		  MEMBER_NO memberNo,
  	      MEMBER_ID memberId,
  	      MEMBER_NAME memberName,
  	      NICKNAME,
  	      EMAIL,
  	      BORNDATE,
  	      PHONE,
  	      ADDRESS,
  	      ADDR_DETAIL addrDetail
  	  FROM
  	      MEMBER
  	 WHERE
  	      MEMBER_NO = #{memberNo}
  	   AND
  	      DELETE_YN = 'N'       	  	
  	</select>
  
  	
  	<update id="updateMember"
  	parameterType="member"
  	>
  	UPDATE
  	      MEMBER
  	   SET
  	      MEMBER_NAME = #{memberName},
  	      NICKNAME = #{nickname},
  	      EMAIL = #{email},
  	      BORNDATE = #{bornDate},
  	      PHONE = #{phone},
  	      ADDRESS = #{address},
  	      ADDR_DETAIL = #{addrDetail}  
  	 WHERE
  	      MEMBER_NO = #{memberNo}     
  	   AND
  	      DELETE_YN = 'N'    
  	</update>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>