<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="noticeMapper">
	
	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<result column="COUNT" property="count"/>
		<result column="NICKNAME" property="noticeWriter" />
	</resultMap>
	
	<insert id="noticeInsert" parameterType="notice">
		INSERT
		  	   INTO
		NOTICE
		       (
		       NOTICE_NO,
		       MEMBER_NO,
		       NOTICE_TITLE,
		       NOTICE_CONTENT
		       )
		VALUES
		       (
		       SEQ_NOTICE.NEXTVAL,
		       #{memberNo},
		       #{noticeTitle},
		       #{noticeContent}
		       )
	</insert>
	
	<select id="selectNoticeListCount" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       NOTICE
		 WHERE 
		       NOTICE.STATUS = 'Y'
	</select>
	
	<select id="selectNoticeListAll" resultMap="noticeResultSet">
		SELECT
		       NOTICE_NO,
		       NICKNAME,
		       NOTICE_TITLE,
		       NOTICE_CONTENT,
		       TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as "CREATE_DATE",
		       NOTICE.STATUS,
		       COUNT
		  FROM
		       NOTICE
		  JOIN
		       MEMBER USING(MEMBER_NO)  
		       
		 WHERE
		       NOTICE.STATUS = 'Y'
		 ORDER
		    BY
		       CREATE_DATE DESC    
	</select>
	
	<select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
		SELECT
		       NOTICE_NO,
		       NICKNAME,
		       NOTICE_TITLE,
		       NOTICE_CONTENT,
		       TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as "CREATE_DATE",
		       NOTICE.STATUS,
		       COUNT
		  FROM
		       NOTICE
		  JOIN
		       MEMBER USING(MEMBER_NO)
		 WHERE
		       NOTICE_NO = #{noticeNo}
	</select>
	
	<update id="increaseNoticeCount" parameterType="_int">
		UPDATE
		       NOTICE
		   SET
		       COUNT = COUNT + 1
		 WHERE
		       NOTICE_NO = #{noticeNo} 
	</update>
	
	<update id="deleteNotice" parameterType="_int">
		UPDATE
		       NOTICE
		   SET
		       STATUS = 'N'
		 WHERE
		       NOTICE_NO = #{noticeNo}
	</update>
	
	<update id="updateNotice" parameterType="notice">
		UPDATE
		       NOTICE
		   SET
		       NOTICE_TITLE = #{noticeTitle},
		       NOTICE_CONTENT = #{noticeContent}
		 WHERE
		       NOTICE_NO = #{noticeNo}
	</update>
	
	<select id="noticeSearchList" parameterType="hashmap" resultMap="noticeResultSet">
		SELECT
		       NOTICE_NO,
		       NICKNAME,
		       NOTICE_TITLE,
		       NOTICE_CONTENT,
		       TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as "CREATE_DATE",
		       NOTICE.STATUS,
		       COUNT
		  FROM
		       NOTICE
		  JOIN
		       MEMBER USING(MEMBER_NO)  
		       
		 WHERE
		       NOTICE.STATUS = 'Y'
   	     <if test="date == 'week'">
		   AND SYSDATE - NOTICE.CREATE_DATE &lt; 8   
		 </if>
		 <if test="date == 'month'">
		   AND SYSDATE - NOTICE.CREATE_DATE &lt; 32   
		 </if>
		 <if test="date == 'treeMonth'">
		   AND SYSDATE - NOTICE.CREATE_DATE &lt; 92   
		 </if>
		 <if test="condition != ''">
			 <if test="condition == 'subject'">
			   AND
			      NOTICE_TITLE LIKE '%' || #{keyword} || '%'
			 </if>
			 <if test="condition == 'content'">
			   AND
			      NOTICE_CONTENT LIKE '%' || #{keyword} || '%'
			 </if> 
			 <if test="condition == 'writer'">
			   AND
			      NICKNAME LIKE '%' || #{keyword} || '%'
			 </if>     
		 </if>
		 ORDER
		    BY
		       CREATE_DATE DESC    
	</select>
	
</mapper>