<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.goty.customerService.model.repository.QuestionRepository">

	<resultMap id="questionResultSet" type="question">
		<result column="QUESTION_NO" property="questionNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="NICKNAME" property="questionWriter"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="QUESTION_TITLE" property="questionTitle"/>
		<result column="QUESTION_CONTENT" property="questionContent"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>

	<insert id="insertQuestion" parameterType="hashmap">
		INSERT ALL
			  INTO
			       QUESTION
				   (
				   QUESTION_NO,
				   MEMBER_NO,
				   CATEGORY_NO,
				   QUESTION_TITLE,
				   QUESTION_CONTENT
				   )
			VALUES
			       (
			       SEQ_QUESTION.NEXTVAL,
			       #{memberNo},
			       #{categoryNo},
			       #{questionTitle},
			       #{questionContent}
			       )
		<if test="fileOriginName != null">
			  INTO
			       QUESTION_ATTACH
			       (
			       QUESTION_ATTACH_NO,
			       QUESTION_NO,
			       FILE_ORIGIN_NAME,
			       FILE_CHANGE_NAME,
			       QUESTION_ATTACH_PATH
			       )
			VALUES
			       (
			       SEQ_QUESTION_ATTACH.NEXTVAL,
			       SEQ_QUESTION.CURRVAL,
			       #{fileOriginName},
			       #{fileChangeName},
			       #{attachPath}
			       )           
		</if>
		SELECT * FROM DUAL	
	</insert>
	
	<select id="selectQuestionListCount" resultType="int">
		SELECT
		       COUNT(*)
		  FROM
		       QUESTION  
		 WHERE
		       QUESTION.STATUS = 'Y'
	</select>
	
	<select id="selectQuestionListAll" resultMap="questionResultSet">
		SELECT
		       QUESTION_NO,
		       NICKNAME,
		       CATEGORY_NAME,
		       QUESTION_TITLE,
		       QUESTION_CONTENT,
		       CREATE_DATE
		  FROM
		       QUESTION
		  JOIN
		       MEMBER USING(MEMBER_NO)
		  JOIN
		       QUESTION_CATEGORY USING(CATEGORY_NO) 
		 WHERE
		       QUESTION.STATUS = 'Y'
		    OR
		       QUESTION.STATUS = 'E' 
		 ORDER
		    BY
		       QUESTION_NO DESC   
	</select>
	
	<select id="selectQuestion" resultMap="questionResultSet">
		SELECT
		       QUESTION_NO,
		       NICKNAME,
		       CATEGORY_NAME,
		       QUESTION_TITLE,
		       QUESTION_CONTENT,
		       CREATE_DATE
		  FROM
		       QUESTION
		  JOIN
		       MEMBER USING(MEMBER_NO)
		  JOIN
		       QUESTION_CATEGORY USING(CATEGORY_NO) 
		 WHERE
		       QUESTION_NO = #{questionNo}
		 ORDER
		    BY
		       QUESTION_NO DESC  
	</select>
	
	<update id="updateQuestion" parameterType="question">
		UPDATE
			   QUESTION
		   SET
		       QUESTION_TITLE = #{questionTitle},
		       QUESTION_CONTENT = #{questionContent},
		       CATEGORY_NO = #{categoryNo}
		 WHERE
		       QUESTION_NO = #{questionNo}
	</update>
	
	<update id="deleteQuestion" parameterType="int">
		UPDATE
		       QUESTION
		   SET
		       STATUS = 'N'
		 WHERE
		       QUESTION_NO = #{questionNo}
	</update>
	
	<select id="selectAnswer" parameterType="int" resultType="question">
		SELECT
      		   QUESTION_NO
 		  FROM
     	       QUESTION_ATTACH
         WHERE 
               QUESTION_NO = #{questionNo}		
	</select>	

</mapper>