<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.goty.customerService.model.repository.QuestionRepository">

	<insert id="insertQuestion" parameterType="question">
		INSERT
		  INTO
		       QUESTION
			  (
			  QUESTION_NO,
			  MEMBER_NO,
			  CATEGORY_NO,
			  QUESTION_TITLE,
			  QUESTION_CONTENT
			  )
		VALUES
		      (
		      SEQ_QUESTION.NEXTVAL,
		      #{memberNo},
		      #{categoryNo},
		      #{questionTitle},
		      #{questionContent}
		      )
		<selectKey keyProperty="questionNo" resultType="int" order="AFTER">
	    	SELECT SEQ_QUESTION.CURRVAL FROM DUAL
	    </selectKey>		      
	</insert>
	
	<insert id="insertFile" parameterType="questionAttach">
		INSERT
		  INTO
		       QUESTION_ATTACH
		       (
		      QUESTION_ATTACH_NO,
		      QUESTION_NO,
		      FILE_ORIGIN_NAME,
		      FILE_CHANGE_NAME,
		      QUESTION_ATTACH_PATH
		       )
		VALUES
		      (
		      SEQ_QUESTION_ATTACH.NEXTVAL,
		      #{questionNo},
		      #{fileOriginName},
		      #{fileChangeName},
		      #{attachPath}
		      )      
	</insert>

</mapper>